* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 1.5rem 6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 4px;
  margin-bottom: 0.3rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container button {
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: filter 0.15s ease-in-out;
}

.header-container button:hover,
.main-container button:hover {
  filter: brightness(90%);
}

.main-container {
  background-color: #f0eef1;
  height: 100vh;
  text-align: center;
}

.main-container button {
  padding: 0.8rem 1.8rem;
  margin: 2rem 0;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bolder;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 3px 3px;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-form {
  background-color: #fefefe;
  margin: 8rem auto;
  padding: 2rem 0;
  width: 30%;
  border: 1px solid #888;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.modal-form-input {
  width: 90%;
  padding: 0.7rem;
  border: none;
  border-radius: 1rem;
  background-color: #f0eef1;
  font-size: 1em;
}

.modal-button {
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 0.5rem;
  background-color: #c0c0c0;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.books-grid {
  margin: 1rem 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  border-radius: 1rem;
  background-color: white;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
